*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/
.gradle/
**/build/
**/release/
*.apk
*.bundle

fix.py
resultado.py
todo-kotlin.sh
files-to-fixing.txt
todo-kotlin.txt
todo-layout-y-drawable.txt

.cg/
.kotlin/
manifest.bin

c\303\263digo.sh
código.sh
