<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.termux" />
    </queries>

    <permission
        android:name="${applicationId}.permission.RUN_SCRIPT"
        android:protectionLevel="normal" />

    <application
        android:name=".di.ScriptRunnerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="UnusedAttribute">
        <profileable android:shell="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.features.runner.ScriptRunnerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.features.adbtrigger.AdbTriggerActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:showForAllUsers="true"
            android:excludeFromRecents="true"
            android:exported="true">
        </activity>
        <receiver
            android:name=".data.receiver.TermuxResultReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.SCRIPT_RESULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".data.service.AdbScriptExecutionService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />


        <service
            android:name=".data.service.HeartbeatService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":monitor" />

        <receiver
            android:name=".data.receiver.AutomationReceiver"
            android:exported="false" />

        <receiver
            android:name=".data.receiver.DeviceBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".data.service.ScriptTileService1"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_label_1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".data.service.ScriptTileService2"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_label_2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".data.service.ScriptTileService3"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_label_3"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".data.service.ScriptTileService4"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_label_4"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".data.service.ScriptTileService5"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_label_5"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".data.service.MasterScriptTileService"
            android:exported="true"
            android:icon="@drawable/ic_terminal_tile"
            android:label="@string/tile_master_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver
            android:name=".data.receiver.ScriptWidgetReceiver"
            android:exported="true"
            android:label="Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/script_widget_info" />
        </receiver>

        <activity
            android:name=".ui.features.widget.WidgetConfigurationActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.ScriptRunnerForTermux">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".data.receiver.AutomationWidgetReceiver" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/automation_widget_info" />
        </receiver>

        <receiver android:name=".data.receiver.AutomationLogWidgetReceiver" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/automation_logs_widget_info" />
        </receiver>

    </application>

</manifest>